<html>
 <head>
     <title>home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-indigo.css">


 </head>   
 <body>
        <i class="fa fa-home w3-jumbo "></i>
        <span class="w3-tag w3-jumbo w3-red">H</span>
        <span class="w3-tag w3-jumbo">O</span>
        <span class="w3-tag w3-jumbo w3-yellow">M</span>
        <span class="w3-tag w3-jumbo">E</span>
        <div class="w3-bar w3-black">
                <a href="/" class="w3-bar-item w3-button w3-mobile">Home</a>
                <a href="#" class="w3-bar-item w3-button w3-mobile">Science</a>
                <a href="#" class="w3-bar-item w3-button w3-mobile">Tech</a>
                <a href="#" class="w3-bar-item w3-button w3-mobile">Environment</a>
                <a href="/admin" class="w3-bar-item w3-button w3-mobile">admin login</a>
        </div>
        <style>
            .footer {
                background-color: #f1f1f1;
                padding: 10px;
                text-align: center;
}
             html, body, h1, h2, h3, h4, h5, h6 {
                   font-family: "sans-serif,Comic Sans MS", cursive, ;
                 }
        </style>     
    <div class="w3-container w3-blue">
            <div class="w3-panel w3-leftbar w3-sand w3-xxlarge w3-serif">
                    <p><i>Articles for knowledge and tech informations"</i></p>
                  </div> 
    <div class="w3-panel w3-leftbar w3-sand w3-xxlarge w3-serif">
             <p><i>Please subscribe to get more information</i></p>
        </div>              
     <a href="{{url_for('subscribe')}}"><style type="text/css">
      </style> <button class="w3-btn w3-round w3-red">subscribe</button>
     </a>
     </div>
     <br>
     <br>
     <br>
     <br>
     <footer>
            <div class="w3-container w3-blue">
                    <div class="w3-panel w3-leftbar w3-fuchsia w3-large w3-serif">
                      <p><i>Created by: quarks</i></p>
                       <p><i>Contact information: <a href="mkravage@gmail.com">someone@example.com</i></a>.</p>
          </footer>
     
  </body>
</html>> 
