<!doctype <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>subscribe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="myStyle.css">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
        <style>
        html, body, h1, h2, h3, h4, h5, h6 {
          font-family: "Comic Sans MS", cursive, sans-serif;
        }
        </style>
    <h1><div class="w3-container w3-blue">
            <div class="w3-panel w3-leftbar w3-fuchsia w3-large w3-serif">   
               <i> <div class="w3-blue">
                    <form action="/result" class="form-inline" method=post>
                    User name:<br>
                    <input type="text" class="form-control"name="username" value="{{request.form.username}}">
                    <br>
                    Email id:<br>
                    <input type="text" class="form-control" name="email_id" value="{{request.form.email_id}}">
                    <br>
                    Time:<br>
	<select name="time_hours" class="form-control">
	<option selected value="0">0</option>
  	<option value="1">1</option>
  	<option value="2">2</option>
  	<option value="3">3</option>
  	<option value="4">4</option>
	<option value="5">5</option>
  	<option value="6">6</option>
  	<option value="7">7</option>
  	<option value="8">8</option>
  	<option value="9">9</option>
  	<option value="10">10</option>
  	<option value="11">11</option>
  	<option value="12">12</option>
  	<option value="13">13</option>
  	<option value="14">14</option>
	<option value="15">15</option>
  	<option value="16">16</option>
  	<option value="17">17</option>
  	<option value="18">18</option>
  	<option value="19">19</option>
  	<option value="20">20</option>
  	<option value="21">21</option>
  	<option value="22">22</option>
  	<option value="23">23</option>
  	<option value="24">24</option>
	</select> <i>Hours</i>
	<select name="time_min" class="form-control">
	<option selected value="0">0</option>
  	<option value="1">1</option>
  	<option value="2">2</option>
  	<option value="3">3</option>
  	<option value="4">4</option>
	<option value="5">5</option>
  	<option value="6">6</option>
  	<option value="7">7</option>
  	<option value="8">8</option>
  	<option value="9">9</option>
  	<option value="10">10</option>
  	<option value="11">11</option>
  	<option value="12">12</option>
  	<option value="13">13</option>
  	<option value="14">14</option>
	<option value="15">15</option>
  	<option value="16">16</option>
  	<option value="17">17</option>
  	<option value="18">18</option>
  	<option value="19">19</option>
  	<option value="20">20</option>
  	<option value="21">21</option>
  	<option value="22">22</option>
  	<option value="23">23</option>
  	<option value="24">24</option>
	<option value="25">25</option>
	<option value="26">26</option>
  	<option value="27">27</option>
  	<option value="28">28</option>
  	<option value="29">29</option>
  	<option value="30">30</option>
  	<option value="31">31</option>
  	<option value="32">32</option>
  	<option value="33">33</option>
  	<option value="34">34</option>
	<option value="35">35</option>
  	<option value="36">36</option>
  	<option value="37">37</option>
  	<option value="38">38</option>
  	<option value="39">39</option>
  	<option value="40">40</option>
	<option value="41">41</option>
  	<option value="42">42</option>
  	<option value="43">43</option>
  	<option value="44">44</option>
	<option value="45">45</option>
  	<option value="46">46</option>
  	<option value="47">47</option>
  	<option value="48">48</option>
  	<option value="49">49</option>
  	<option value="50">50</option>
  	<option value="51">51</option>
  	<option value="52">52</option>
  	<option value="53">53</option>
  	<option value="54">54</option>
	<option value="55">55</option>
  	<option value="56">56</option>
  	<option value="57">57</option>
  	<option value="58">58</option>
  	<option value="59">59</option>
  	<option value="60">60</option>
	</select> <i>Minutes</i>
	<select name="time_sec" class="form-control">
	<option selected value="0">0</option>
  	<option value="1">1</option>
  	<option value="2">2</option>
  	<option value="3">3</option>
  	<option value="4">4</option>
	<option value="5">5</option>
  	<option value="6">6</option>
  	<option value="7">7</option>
  	<option value="8">8</option>
  	<option value="9">9</option>
  	<option value="10">10</option>
  	<option value="11">11</option>
  	<option value="12">12</option>
  	<option value="13">13</option>
  	<option value="14">14</option>
	<option value="15">15</option>
  	<option value="16">16</option>
  	<option value="17">17</option>
  	<option value="18">18</option>
  	<option value="19">19</option>
  	<option value="20">20</option>
  	<option value="21">21</option>
  	<option value="22">22</option>
  	<option value="23">23</option>
  	<option value="24">24</option>
	<option value="25">25</option>
	<option value="26">26</option>
  	<option value="27">27</option>
  	<option value="28">28</option>
  	<option value="29">29</option>
  	<option value="30">30</option>
  	<option value="31">31</option>
  	<option value="32">32</option>
  	<option value="33">33</option>
  	<option value="34">34</option>
	<option value="35">35</option>
  	<option value="36">36</option>
  	<option value="37">37</option>
  	<option value="38">38</option>
  	<option value="39">39</option>
  	<option value="40">40</option>
	<option value="41">41</option>
  	<option value="42">42</option>
  	<option value="43">43</option>
  	<option value="44">44</option>
	<option value="45">45</option>
  	<option value="46">46</option>
  	<option value="47">47</option>
  	<option value="48">48</option>
  	<option value="49">49</option>
  	<option value="50">50</option>
  	<option value="51">51</option>
  	<option value="52">52</option>
  	<option value="53">53</option>
  	<option value="54">54</option>
	<option value="55">55</option>
  	<option value="56">56</option>
  	<option value="57">57</option>
  	<option value="58">58</option>
  	<option value="59">59</option>
  	<option value="60">60</option>
	</select> <i>Seconds</i>
                    
                    <br>
                    <br>
                    <input type="submit" class="btn btn-default"value="Submit">
                    </form>
                </i>     
               <p><i>If you click the "Submit" button, the form-data will be sent to a page called "/result".</i></p>
            </div>    
            
    </h1> 
    <footer class="w3-container w3-magenta">
            <p><h1>subscribe and get latest updates</h1></p>
            <div class="w3-card-2w3-teal ">

                    <div class="w3-container w3-center w3-large ">
                      <h3>Holders</h3>
                      <img src="img_avatar3.png" alt="Avatar" style="width:30%">
                      <h3>Muthumani</h3>
                    </div> 
                      <div class="w3-card-2 w3-magenta ">

                            <div class="w3-container w3-center w3-large">
                              <h3>Holders</h3>
                              <img src="img_avatar3.png" alt="Avatar" style="width:30%">
                              <h3>Muthurevanth</h3>
                            </div>  
                              <div class="w3-card-2 w3-magenta w3-xxlarge">

                                    <div class="w3-container w3-center w3-large">
                                      <h3>Holders</h3>
                                      <img src="img_avatar3.png" alt="Avatar" style="width:30%">
                                      <h3>Mukeshkumar</h3>
                                    </div> 
          </footer>
   
</body>
</html>